@media (max-width: 1000px)
    .webSiteTitle
        display flex
        justify-content center 
        align-items center
    .menu
        justify-content center !important
        ul 
            li  
                padding 1em !important
    .scrollIndicator
        .homeScroll
            margin-top 25vh !important
    .titleContainer
        width 90vw !important
        justify-content center
        .bar
            display none
    .mainContent
        flex-direction column !important
        justify-content center
        align-items center
        .mainContentImg
            width 90% !important

    .contentContainer 
        flex-direction column!important
        justify-content center
        align-items center
    .contentImage 
        width 90% !important
    .imageContainer
        flex-direction column!important
        img 
            margin-top 5vh
            width 90% !important
    .contentContainer_2
        flex-direction column !important
        align-items center
    .contentImage_2
        width 90% !important
    .imageUp
        flex-direction column
        align-items center
        div 
            width 90vw !important
    .imageDown
        flex-direction column
        align-items center
        div 
            width 90vw !important
    .imageContainer_2Up
        flex-direction column !important
        align-items center !important
        div 
            width 90vw !important
    .imageContainer_2Down
        div 
            width 90vw !important


