@media (max-width: 1000px)
    .menuContainer
        display none !important
    .projectContent,
    .projectDiv
        width 100vw !important
        margin-right 0 !important
        .projecTitle
            margin-right 0% !important
        .description
            margin-left 10% !important
        .number 
            margin-top -4% !important
            left 80% !important
    .imageContainer
        width 100vw !important
        height 20vh !important
        display flex !important
        justify-content center !important
    
    .projectContent_2,
    .projectDiv_2
        width 100vw !important
        margin-right 0 !important 
        .projecTitle_2
            margin-left 0% !important
        .description_2
            margin-left 10% !important
        .number_2
            margin-top -4% !important
            left 80% !important
    .imageContainer_2
        width 100vw !important
        height 20vh !important
        display flex !important
        justify-content center !important
        position initial !important
        align-items flex-start !important
    
    .projectContent_3,
    .projectDiv_3
        width 100vw !important
        margin-right 0 !important
        .projecTitle_3
            margin-right 0% !important
        .description_3
            margin-left 10% !important
        .number_3
            margin-top -4% !important
            left 80% !important
    .imageContainer_3
        width 100vw !important
        height 20vh !important
        display flex !important
        justify-content center !important
    
     .projectContent_4,
    .projectDiv_4
        width 100vw !important
        margin-right 0 !important 
        .projecTitle_4
            margin-left 10% !important
        .description_4
            margin-left 10% !important
        .number_4
            margin-top -4% !important
            left 80% !important
    .imageContainer_4
        width 100vw !important
        height 20vh !important
        display flex !important
        justify-content center !important
        position initial !important
        align-items flex-start !important
    .contactContent
        margin-left 10vw !important
        h3
            font-size 1.3em !important
    .bar
        width 0.2em !important
    .projectBar
        width 0.2em !important

    
    
